:root {
	--rust:#CD6C36;
	--blue: #132034;
	--teal: #12627B;
	--cream: #F5F5EC;
	--graphite: #0C1111;
}

@font-face{
font-family: Elza-Narrow-Light;
src: url('../Fonts/ElzaTrial-NarrowLight.otf');}

@font-face{
font-family: Elza-Narrow;
src: url('../Fonts/ElzaTrial-Narrow.otf');}

@font-face{
font-family: Elza-Narrow-Medium;
src: url('../Fonts/ElzaTrial-NarrowMedium.otf');}

@font-face{
font-family: Elza-Narrow-Semi;
src: url('../Fonts/ElzaTrial-NarrowSemibold.otf');}

@font-face{
font-family: SF-Pro-Light;
src: url('../Fonts/SF-Pro-Display-Light.otf');}

@font-face{
font-family: SF-Pro-Regular;
src: url('../Fonts/SF-Pro-Display-Regular.otf');}

@font-face{
font-family: SF-Pro-Medium;
src: url('../Fonts/SF-Pro-Display-Medium.otf');}

@font-face{
font-family: SF-Pro-Bold;
src: url('../Fonts/SF-Pro-Display-Bold.otf');}

/**************************************************/
/**************************************************/
/**************************************************/



body {background-color:white;}
body, html {font-family: 'SF-Pro-Regular';}

.row {margin:0px; padding: 0px 0%;}


div.home-hero {
	background-image: url('../Images/light-at-the-tunnel.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

div.founder-pane h3 { padding-top:30px;}
div.founder-pane h4{font-family:'Elza-Narrow-Medium';}
div.founder-pane img {width: 100%; border-radius:8px;opacity:100%;}


div.teal-button {
	font-family:'SF-Pro-Regular';
	background-color:var(--teal);
	font-weight:500;
	padding: 12px 10px;
	text-align:center;
	color: #fff;
	border-radius:5px;
	letter-spacing: 1px;

}

.vertical-center {
  margin: 0;
  top: 20%;
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}



@media (min-width: 0px) {
h1 {font-family:'Elza-Narrow';font-size:5rem;text-align:left;line-height:100%; letter-spacing:-0.02em;}
h2 {font-size:2.5rem; font-family:'elza-narrow',sans serif; font-weight:500;}
h3 {font-size:1.4rem; font-family:'elza-narrow',sans serif; font-weight:500;}
h4 {font-size:1.3rem; font-family:'SF-Pro-Regular';}
h5 {font-size:1.1rem; font-family:'SF-Pro-Regular'; line-height:130%;}
h6 {font-size:1.2rem;}
p {font-size:1.2rem; line-height:140%;}
li {font-size:1.0rem;}

.container {min-width:600px;}

/* Header*/
.hero-container { 
    background: url("https://clients.strikingidea.com/firebrand/Static/Images/light-at-the-tunnel-overlay.jpg") no-repeat; 
    background-size: cover;
	background-position:25%;
    min-height:860px;
}

.hero-container-job { 
    background: url("https://clients.strikingidea.com/firebrand/Static/Images/light-at-the-tunnel-overlay.jpg") no-repeat; 
    background-size: cover;
	background-position:25%;
    min-height:500px;
}

/* Top bar*/
.logo img {width:200px; padding:0px;}
.logo {width:100%; margin: 40px 0 0 0px;}


h1.the {padding:25px 10px 0px 0px;color:var(--graphite);}
.ai {margin-top:15px;margin-bottom: 0px; padding:10px 30px 0px 0px;}
.hero {}
.hero-image {width:100%; height:100%; overflow: hidden; display:block; margin:-3% auto auto 0%;}

.home-hero {padding-left:15px; text-align:center;max-height:550px;}
div.teal-button {margin: 40px auto 10px; width:200px;}
.impact { margin: 20px 0 }
.revolution {margin-top:150px;}


h6.leadin {font-family: 'SF-Pro-Medium'; text-transform:uppercase; line-height:22px; color:#CD6C36; font-size:22px; font-weight:500; margin-bottom:30px;}
h2.intro {color:var(--graphite); font-family:'elza-narrow',sans serif; font-weight:500; line-height:110%;}
p.intro {font-size:1.3rem;font-weight:400; font-family:'SF-Pro-Regular';}
div.intro {border-radius:5px;color:#EAEBD4;background-color:var(--blue);margin:40px -0px 0px -100px;padding:40px 50px 40px 100px;}

.change {
    margin-left:0px; 
    z-index:50;
    padding: 0px; 
    text-align:center;
    display:block
    
}
.change img { width:100%}
.change h2 {font-family:'Elza-Narrow-Semi';font-size:2.8rem;}
.change p {font-family:'Stolzl-Regular'; font-size:1.4rem;}
.change-img {display:none;}

.intro-content { padding:50px;}

.work { padding: 4% 0 0;}
.action {padding:30px 0px;}
.action img {position:absolute; top:5%; right:5%; width:7%;}

.learn {text-align:center; padding-top:25px;}
.learn h4 { margin:0;}


/* Founders */
.who { padding: 2% 8% 4%;}
.founders {margin: 3% 10%; text-align:center; width:100%;}
.founder-pane {padding:2%;}
.hidden-woo1 {display:none;}
.hidden-woo2 {display:inline;}


.panes p {font-size:1.1rem;}
.panes-list h4{text-decoration:underline;font-weight:700; font-size:1.2rem;}
.panes-list li {font-size:1rem;}

/* Service List */

.services {background-color:var(--cream)!important;padding:6% 8%;max-width:100%;border-radius:10px;}
.services-section {margin:0px auto; width:95%;}
.services-intro {padding:0 0 30px 0;}
.row.services-panes {
    background-color:white; 
    border-radius:15px;
    padding:30px;
    margin-bottom:30px !important;
}
.services-number {min-height:70px;  display: flex; width:100%;}
.services-number h3 { 
    background-color:var(--rust); 
    border-radius:8px; 
    padding:0px 20px 0px 10px; 
    margin:0 20px 0 0; 
    max-height: 47px;
    font-size:48px; 
    color:white !important;
    
}
.services-number h4 {margin-top:10px;font-weight:500; padding:8px 10px 0px 0px;}

.services-list {padding-left:0px;}

.partner {padding:8%;}
.partner img {width: 70%; display:block; margin: 0 auto;}

.partner-pane {}

.careers {padding:20px 40px !important;}
.careers h2 {}
.careers p {font-size:1.3rem; padding:20px 0px;}
.careers ul {padding-inline-start: 20px;}
.careers-list {padding: 40px 20px 0px 0px;}
.careers-list li {color:white; font-weight: 400; font-size:1.0rem; padding: 10px 0px;}
.careers-list a {text-decoration:none;}

.footer h4 {font-size:1.0rem; color:white; font-weight:700;padding:20px 0px 10px 0px; text-align:center;}
.footer h5 {font-size:0.9rem; color:white; font-weight:500;padding:5px 0px 10px 0px; text-align:center;}
.footer img {width:100%; display: block; margin: 20px auto 0;}
.copyright p{text-align:center;padding: 30px 0% 30px;color:var(--cream);font-size:0.8rem; margin: 20px auto 0;}
}

@media (min-width:768px) {
h1 {font-size:5rem;font-weight:500;}
h2 {font-size:2.0rem;}
h3 {font-size:1.5rem;}
h4 {font-size:1.3rem;}
h5 {font-size:1.0rem; line-height:130%;}
h6 {font-size:1rem;}
p {font-size:1.2rem; line-height:140%;}
li {font-size:1.1rem;}

.container {min-width:95%;}

.learn {text-align:right;padding-left:0px;width:300px;}

.hero {min-height:800px;}

h1.the {padding:20px 15px 0px 0px;}
.ai {margin-top:0px;padding:20px 40px 0px 0px;}
.ai h1 {line-height:100%}
.home-hero {max-height:100%;text-align:left;padding-left:50px;}

.action {padding:30px;}
.action img {width:15%;}
.action h3 {width:70%;}



div.teal-button {margin: 25px 0 0px; font-size:1.3rem;}

.revolution {display: inline; margin-top:150px; margin-bottom:20px; width:100%;}


.hero-image {height:100%; overflow: hidden;}

p.intro {text-align:left;font-size:1.4rem;
}

.services {margin:0 0%;}
.approach {min-width:55%;float:left;}
.services-list {width:100px; float:right;}

.services-section {margin:0px auto; width:100%;}

/*.services-number h3 {width:8%; float: left; background-color:var(--rust); border-radius:8px; width:50px; height:50px; padding:10px 0px 0px 10px;font-size:48px; color:white !important;}*/
.services-number h4 {/*width: 90%; float:right;margin-top:0px;font-weight:500; padding:10px 10px 0px 0px; margin-bottom:0px;*/}


.hidden-woo1 {display:inline;}
.hidden-woo2 {display:none;}

.careers {padding:20px 00px !important;}
.careers-list {padding: 40px 0px 20px 40px;}
.careers h2 {text-align:left;}
.careers p {text-align:left;}
.careers ul {padding-inline-start: 50px;}
.careers-list li {font-size:1.1rem;}

.foot {padding:0px 0px;}
.footer h4 {text-align:left;}
.footer h5 {text-align:left;}
.footer img {margin: 0}
.copyright p{text-align:left;}
}

@media (min-width:1200px) {
h1 {font-size:6.0rem;font-weight:700;}
h2 {font-size:4.0rem;}
h3 {font-size:2.4rem;}
h4 {font-size:1.7rem;}
h5 {font-size:1.5rem; line-height:140%;}
h6 {font-size:1.35rem; line-height:140%;}
p {font-size:1.3rem; line-height:140%;}
li {font-size:1.35rem;}

.container {min-width:90%;}
h1.the {padding:25px 20px 0px 0px;}
.ai {margin-top:0px;padding:40px 50px 0px 0px;}
.ai h1 {line-height:70%}
.hero {min-height:900px;}
.hero-image {width:100%; height:100%; overflow: hidden; display:block; margin:-3% auto -10%;}

.revolution {display: inline; margin-top:60px; width:100%;}
.revolution2 {display:inline;}


.firebrand-way {width:85%;margin: 2% 9% 0%;}
.revolution {margin-top: 100px; max-width:750px; z-index:49;}


div.teal-button {font-size:1.5rem; width:240px;}

.services-section {padding:40px 0;}
.services-panes h3{color:var(--rust);}
.services-panes h5{font-weight:500; font-size:1.25rem; color:black;}
.services-list {/*padding: 0 0 0 40px;*/}
.services-list li {font-family:'SF-Pro-Regular'; font-size:1.15rem;}

.careers-list li {font-size:1.3rem;}

}

@media (min-width:1400px) {
h1 {font-family:'Elza-Narrow-Semi';font-size:6.5rem;text-align:left;font-weight: 700; line-height:100%; letter-spacing:-0.02em;}
h1.the {padding:30px 20px 0px 0px;}
.hero {max-height:1200px;}
.revolution {display: inline; margin-top:100px; width:100%;}
.container {max-width:1320px;min-width:50%;}
.hero-image {width:100%; height:100%; overflow: hidden; display:block; margin:-7% auto 0;}
.ai {margin-top:16px;padding:35px 50px 0px 0px;}
}

@media (min-width:1750px) {
h1 {font-family:'Elza-Narrow-Semi';font-size:8.5rem;text-align:left;font-weight: 700; line-height:100%; letter-spacing:-0.02em;}

.hero-image {margin:-12% auto 0;}
.revolution {display: inline; margin-top:100px; width:100%;}
}



